h3{
      text-align: center;
      color: #0d4261;
}
div{
      text-align: center;
      color: #0d4261;

}
.navbar.navbar-default{
      background: #2F4F4F;
     
}

.navbar{
	background: #2F4F4F;
	color: white !important;
}
.white-text{
	color: white;
}
li{
      color:black; 
}
body{
	background-color: #F4ECF7;
}
.form-width{
      width: 70%;
}

.error-display{
      background-color:#ffe6e6;
      color:#660000;
      text-align: center;

}

